[2020-10-05 11:29] MiguelNdeCarvalho opened #8 "[ToDo] Use flask and get rid of the sleep"
- [x] Get rid of the arguments and get envs back (can't pass arguments when running with uwsgi)
- [x] Add landing page, like stated on Prometheus Documentation
- [x] Add **UWSGI** to the docker image and adapt start
- [x] Get rid of the sleep env
- [x] Add healthcheck

[2020-10-05 11:31] MiguelNdeCarvalho opened #9 "[ToDo] Env to choose a custom server when doing the test"

[2020-10-05 11:54] MiguelNdeCarvalho opened #10 "[ToDo] Check prometheus metrics names and description"

[2020-10-05 12:22] #10 closed

[2020-10-05 13:58] #9 closed

[2020-10-05 14:01] MiguelNdeCarvalho opened #13 "[ToDo] Update the Documentation"
Updates on the documentation:

- Choose server via the env
- Add features section (speedtest bin, choose server, lightweight docker image)

...

[2020-10-05 14:13] MiguelNdeCarvalho opened #14 "[ToDo] Add env for server port"

[2020-10-05 14:14] MiguelNdeCarvalho opened #15 "[ToDo] Create grafana dashboard"

[2020-10-05 14:52] MiguelNdeCarvalho opened #16 "[ToDo] Select an available port from the list to be the default"
[List](https://github.com/prometheus/prometheus/wiki/Default-port-allocations)

[2020-10-05 15:00] MiguelNdeCarvalho opened #17 "[ToDo] Expose additional metrics"
- jitter
- server id
- packet loss

[2020-10-05 16:20] jfmanamtr opened #18 "speed test not running."
OS is Ubuntu 20.04 running Docker version 19.03.12, build 48a66213fe.

I have tried this inside & outside of rancher, but the same error shows up in the logs.

Successfully started Speedtest Exporter on http://localhost:9112
Traceback (most recent call last):
  File "src/exporter.py", line 59, in <module>
    run(PORT, SLEEP)
  File "src/exporter.py", line 48, in run
    test = run_speedtest()
  F

[2020-10-08 18:50] #13 closed

[2020-10-08 19:00] MiguelNdeCarvalho commented on #14
By mistake I pushed directly to main, instead of opening a PR ...

[2020-10-08 21:28] #16 closed

[2020-10-08 21:28] MiguelNdeCarvalho commented on #16
Instead of making a pr, I pushed to the main repo by mistake

[2020-10-12 16:33] #14 closed

[2020-10-17 16:16] MiguelNdeCarvalho opened #21 "[ToDo] Release a specific tag and latest"

[2020-10-17 16:17] #21 closed

[2020-10-17 18:02] #17 closed

[2020-10-17 18:02] MiguelNdeCarvalho opened #24 "[ToDo] Env for interval time"

[2020-10-17 18:14] #24 closed

[2020-10-17 18:16] MiguelNdeCarvalho opened #26 "[ToDo] Make ping latency as float"

[2020-10-17 18:20] #26 closed

[2020-12-30 23:59] MiguelNdeCarvalho opened #29 "[ToDo] Remove ENVs and add args"

[2021-01-01 19:56] #15 closed

[2021-01-01 19:58] MiguelNdeCarvalho opened #31 "[ToDo] Create metric to show exporter status"
- [ ] Create `speedtest_up`

[2021-01-01 20:00] MiguelNdeCarvalho opened #32 "[ToDo] Improve Docs"
- [x] Add option to run outside of docker
- [x] Add Prometheus config

[2021-01-01 20:04] MiguelNdeCarvalho opened #33 "[ToDo] Improve container build"

[2021-01-01 20:22] #33 closed

[2021-01-01 20:55] #32 closed

[2021-01-01 22:50] #29 closed

[2021-01-01 22:54] MiguelNdeCarvalho opened #37 "[ToDo] Organize the code and simplify it"

[2021-02-13 18:54] MiguelNdeCarvalho opened #39 "[ToDo] Improve CI/CD"

[2021-02-13 23:00] MiguelNdeCarvalho opened #40 "[ToDo] Change default port"
Change default port to: `9798`

[2021-03-04 19:38] #8 closed

[2021-03-04 19:38] #37 closed

[2021-03-04 19:38] MiguelNdeCarvalho opened #41 "Migrate docs"
Migrate docs to my website

[2021-03-04 19:45] #40 closed

[2021-03-04 20:08] MiguelNdeCarvalho opened #44 "[ToDo] Cleanup code using pylint"

[2021-03-04 21:25] #39 closed

[2021-03-04 22:19] #44 closed

[2021-03-04 23:01] #31 closed

[2021-03-04 23:25] MiguelNdeCarvalho commented on #18
Hey,

I will close this, as this should be fixed by now. Feel free to open again if you encounter this again.

Thanks,
MiguelNdeCarvalho

[2021-03-04 23:25] #18 closed

[2021-03-19 11:45] lundsec opened #47 "change back to env cause issues"
Hey after you changed back to env instead of args its not possible to pass ENV interval to the speedtest

[2021-03-19 11:59] MiguelNdeCarvalho commented on #47
Hey,

First of all are you running it inside of **Docker**? If so, let me know how you deployed it please (**docker cli** or **docker-composer**)

Thanks,
MiguelNdeCarvalho

[2021-03-19 12:09] MiguelNdeCarvalho opened #48 "Return error code when scrape fails"
https://prometheus.io/docs/instrumenting/writing_exporters/#failed-scrapes

[2021-03-22 08:01] therock commented on #47
with docker-compose, so before you changed back to env i had in my compose file overwritten the command such that i could use ARGS.

[2021-03-22 11:24] MiguelNdeCarvalho commented on #47
Hey,

Yap, I have removed the ARGS. I will try to do the **Documentation** today. Can you send me the docker-compose content please?

Thanks,
MiguelNdeCarvalho

[2021-03-23 00:01] #41 closed

[2021-03-23 08:19] lundsec commented on #47
this is with command args, that currently dont do anything & env
[code]

[2021-03-23 11:48] MiguelNdeCarvalho commented on #47
Hey,

I have release the docs yesterday. You find them [here](https://docs.miguelndecarvalho.pt/projects/speedtest-exporter/).

Your `docker-compose.yml` should look like this:

[code]

As you can see we now don't set the `interval` between the tests on the exporter, we set it on the **Prometheus** side.

Your `prometheus.yml` should include this:

[code]

In this example it will runs tests every

[2021-03-23 13:37] lundsec commented on #47
thats also what i ended up doing, just change the scrape interval to 15m. but thats fine by me

[2021-03-23 15:05] MiguelNdeCarvalho commented on #47
Hey,

Nice, so is everything working fine for you now? You don't need to include that `metrics_path`

Thanks,
MiguelNdeCarvalho

[2021-04-02 15:27] #47 closed

[2021-04-08 23:06] MiguelNdeCarvalho opened #51 "Use waitress"
Use `Waitress` **wsgi production server** instead of `uWSGI`

[2021-04-08 23:29] MiguelNdeCarvalho opened #52 "Add Args back and keep Envs for Docker"
`Args` will override all the `Envs`

[2021-04-08 23:33] MiguelNdeCarvalho opened #53 "Let bot update base image"
This will permit bot from updating the base image, with the current `Arg` the bot won't update the image.

[2021-04-08 23:53] #53 closed

[2021-04-09 02:41] geerlingguy commented on #48
Could this lead to the container going into an 'unhealthy' state? I'm using this in a Pi-based internet monitoring setup, and it seems like a couple times a day the container just goes unhealthy, and the metrics endpoint returns nothing. In the logs, there are no errors that are output:

[code]

And running `date` on the container:

[code]

(So you can see it's been a few hours it was down.)

I'm

[2021-04-09 17:33] MiguelNdeCarvalho commented on #48
Hey,

@geerlingguy I don't know what to say eheh, I'm one of your subscribers. That's really good to see that you are using my project WOW.
Now let's talk about the exporter.
I will release `v3.1` still today with:
- Drop uWSGI and use waitress instead (will be a lighter image and more easy to setup outside of container)
- Update prometheus-client

Basically the check is just checking if the Front

[2021-04-09 18:24] #51 closed

[2021-04-09 18:46] MiguelNdeCarvalho opened #56 "Fix Print not showing in Docker logs"

[2021-04-09 18:53] #56 closed

[2021-04-09 19:32] MiguelNdeCarvalho commented on #48
Hey again,

@geerlingguy can you try the `v3.1` and see if you continue with the same problems?

Thanks,
MiguelNdeCarvalho

[2021-04-10 12:56] MiguelNdeCarvalho opened #58 "Drop Renovate and use Dependabot natively in GitHub"

[2021-04-10 12:59] #58 closed

[2021-04-10 16:05] geerlingguy commented on #48
@MiguelNdeCarvalho - Thanks! I just updated the Pi to 3.1 after seeing the same dropout this morning. There are no additional logs (just ... stops it seems), and if I log into the container and run `wget localhost:9798` it just times out after a while (see: https://github.com/geerlingguy/internet-monitoring/issues/1#issuecomment-817156484).

I will keep monitoring the speedtest container and see i

[2021-04-10 16:28] MiguelNdeCarvalho commented on #48
Hey again,

Basically yeasterday @Doacola has deployed the stack that you have done in his Pi4 (32 Bits) and he didn't got that weird behaviour that you are getting in the Pi4 connected to the **Starlink**. Right now I have done some tests:

1st -  Deployed exporter in docker and I have done the first trigger
2nd - Triggered 2nd test but disconnected network after I started it, it just returned a

[2021-04-13 08:40] MiguelNdeCarvalho opened #60 "Improves Docs"
- [x] Fix `Requirements` typo
- [x] Add table to image location (Docker Hub and Github Container Registry)
- [x] Add links for badges
- [x] Change the example server
- [x] Change server list to the official one
- [x] Add Danger section about the usage of a specific `serverID`
- [x] Add a FAQ section
- [x] Fix **Speedtest CLI** link
- [x] Add tip saying to pull a specific image version

[2021-04-16 02:36] xtreme2020 opened #62 "Container Status always unhealthy"
Logs show
[2021-04-15 14:16:46.303] [error] Configuration - Cannot retrieve configuration document (0)
,[2021-04-15 14:16:46.304] [error] ConfigurationError - Could not retrieve or read configuration (Configuration)
,[2021-04-15 14:16:46.304] [error] ConfigurationError - Could not retrieve or read configuration (Configuration)
,{
,    "type": "log",
,    "timestamp": "2021-04-15T14:16:46Z",
,    "

[2021-04-16 09:42] MiguelNdeCarvalho commented on #62
Hey,

It appears that you don't have internet, that's why it failing. Can you try to use `v3.1` tag with the image ?

Thanks,
MiguelNdeCarvalho

[2021-04-16 16:25] thinkspill commented on #62
I'm also having this issue, which can be reproduced as follows:

docker run --rm -it miguelndecarvalho/speedtest-exporter:v3.1 sh

[code]

I do have internet, but maybe I'm not passing it to the speedtest container as expected?

[2021-04-16 17:36] thinkspill commented on #62
It appears that this error is from speedtest-cli itself, and is fixed in the latest version 2.1.3.

[2021-04-16 19:52] Doacola commented on #62
Hi @xtreme2020

Could you paste the logs from following:
[code]
This sets CLI to output slightly more information(-v flag is for logging verbosity).

[2021-04-17 20:16] xtreme2020 commented on #62
Hi, everyone
this is what I got from the command above, look like the container cannot pick internet but my internet connection is ok

[2021-04-17 20:14:50.332] [warning] Failed to resolve host www.speedtest.net: : [-3] Try again
[2021-04-17 20:14:50.332] [warning] Cannot open connection - no destination address.
[2021-04-17 20:14:50.332] [error] Trying to get interface information on non-initiali

[2021-04-17 22:35] xtreme2020 commented on #62
Hi, everyone already got it working, for some reason there was a problem with the network assigned by docker, so I started the container with docker run --rm -d --network host --name speedtest-exporter miguelndecarvalho/speedtest-exporter:v3.1 , once I changed the network to host everything start working

[2021-04-17 22:35] #62 closed

[2021-04-20 08:18] MiguelNdeCarvalho opened #64 "Add welcome print"
Add welcome print like we had back in the old days

[2021-04-20 08:36] #60 closed

[2021-04-20 22:27] #64 closed

[2021-05-03 13:37] MiguelNdeCarvalho opened #66 "Start using Semantic Versioning"
Release `v3.2.0`

[2021-05-03 13:51] #66 closed

[2021-05-19 09:48] MiguelNdeCarvalho commented on #48
Everything is working fine now, so I'm going to close this

[2021-05-19 09:48] #48 closed

[2021-05-22 09:09] david7867z opened #71 "Container keeps restarting"
Hello,
I am trying to set up an internet-monitor (https://github.com/geerlingguy/internet-monitoring).
I found out, that the container "miguelndecarvalho/speedtest-exporter" is constantly restarting,
after some time i found this error:

[code]

I am running this project on a RaspberryPi 4GB with RaspberryPi OS 64x

I left everything at the default configuration.

Can anyone help me?
Thanks.

[2021-05-22 15:09] MiguelNdeCarvalho commented on #71
Hey,

I'm not sure but this can be related to `libseccomp2` version.
Can you give me the output of `apt info libseccomp2` and `uname -m` please?

Thanks,
MiguelNdeCarvalho

[2021-05-22 15:30] david7867z commented on #71
Here is the Output of `apt info libseccomp2` executed on the Pi:
Package: libseccomp2
    Version: 2.3.3-4
    Priority: optional
    Section: libs
    Source: libseccomp
    Maintainer: Kees Cook <kees@debian.org>
    Installed-Size: 161 kB
    Depends: libc6 (>= 2.4)
    Homepage: https://github.com/seccomp/libseccomp
    Download-Size: 33.1 kB
    APT-Manual-Installed: yes
    APT-Sources: http

[2021-05-22 15:37] MiguelNdeCarvalho commented on #71
Hey,

First of all you are running `Raspberry OS 32 Bits`, you are getting this error because there is a bug on Alpine 3.13. This got fixed on `libseccomp2 2.4.2` and ` Docker 19.03.9`.
Issue: https://github.com/moby/moby/issues/40734
Fix: https://docs.linuxserver.io/faq#libseccomp

Thanks,
MiguelNdeCarvlaho

[2021-05-22 16:33] david7867z commented on #71
It works perfectly!
Thank you very much!

[2021-05-22 16:33] #71 closed

[2021-05-22 16:37] MiguelNdeCarvalho commented on #71
No problem, that's really good to know that it worked!

[2021-05-30 19:39] MiguelNdeCarvalho opened #73 "v3.2.2 Speedtest Exporter"
- Bump `werkzeug` to **2.0.1**
- Bump `flask` to **2.0.1**﻿

[2021-05-30 19:40] #73 closed

[2021-06-23 17:27] Kl0ven opened #75 "Reported speed is not accurate"
Hi,
I've encoutered a problem where speeds from the container are not representative of real speeds.

Left term: speeds in docker container
Right term: speeds with speedtest-cli executable running on windows 10
Both of them are running speedtest 1.0.0.2
![compare](https://user-images.githubusercontent.com/11249128/123140335-767bcc00-d457-11eb-83ce-16cbbdb84a98.png)
Also notice this behavior on Ubu

[2021-06-24 06:41] AnvithLobo opened #76 "Allow multiple tests on multiple server-id"
from https://github.com/geerlingguy/internet-monitoring/issues/19

Allowing to test on a list of server-id would be a good idea to get a good picture on how your isp performs on different nodes / countries.

Thanks.

[2021-06-24 10:06] MiguelNdeCarvalho commented on #76
Hey,

Really thanks for the great idea. I will take a look on this.

Thanks,
MiguelNdeCarvalho

[2021-06-24 10:09] MiguelNdeCarvalho commented on #75
Hey,

First of all this is a really weird issue. I have been running it for almost 5 months and @Doacola too, and both of us didn't get this problem.
Is it possible for you to deploy the container on the Ubuntu machine and then trigger a test? After that install the `Speedtest-CLI` and do a test. If you can send the results here please.

Thanks,
MiguelNdeCarvalho

[2021-06-24 10:35] MiguelNdeCarvalho commented on #75
Hey again,

I have tested this on a linode instance.

**speedtest-exporter**

[code]

**speedtest-cli**

[code]

Thanks,
MiguelNdeCarvalho

[2021-06-24 22:22] Kl0ven commented on #75
hmmm, it's working now, i don't now why 😐. Maybe just a fluke. Thanks for the help anyway, appreciate it 😊

[2021-06-24 22:22] #75 closed

[2021-06-24 22:57] MiguelNdeCarvalho commented on #75
Hey,

That's really good to know, sometimes you should see an decrease of the test result, because the server could be doing many tests at the same time. If you get that again feel free to open the issue again.

Thanks,
MiguelNdeCarvalho

[2021-06-25 13:08] redpixy commented on #62
Hi, I having the issue where the container health is always unhealthy on v3.2.1 and v3.2.2.
It works perfectly fine on v3.2.0

[2021-06-29 12:53] samjewell opened #77 "500 error: "TypeError: cannot unpack non-iterable NoneType object""
When running manually (not via Docker) on a RaspberryPi, I see this error on the /metrics endpoint:

[code]

But the speedtest cli tool works fine:
[code]

[2021-06-29 13:16] samjewell opened #78 "Docker image crashing repeatedly on Raspberry Pi"
Running on Raspberry Pi B

And raspbian
VERSION="10 (buster)"

Output looks like this:
[code]

[2021-06-29 14:43] MiguelNdeCarvalho commented on #78
Hey,

Can you try to get the logs? I think it should be related to #62

Thanks,
MiguelNdeCarvalho

[2021-06-29 14:44] MiguelNdeCarvalho commented on #78
Hey,

Can you try to get the logs? I think it should be related to #62

Thanks,
MiguelNdeCarvalho

[2021-06-29 14:44] MiguelNdeCarvalho commented on #77
I will close this in favor of #78. Feel free to open again if needed.

[2021-06-29 14:44] #77 closed

[2021-06-30 08:35] samjewell commented on #77
Thanks @MiguelNdeCarvalho in your email to me you said:

That fixed this problem for me 😌

[2021-06-30 08:59] samjewell commented on #78
# TLDR

- No logs
- Warning that the image's platform is armv7, but my platform is armv6 (RPi v1)
- I have a workaround, which is not using docker at all, and running python directly.

# Long version

I am seeing a warning as follows:
[code]

There are no logs:
[code]

Docker events looks like this, on a continuous loop:
[code]

I tried adding `--network host` when running the container, but that

[2021-06-30 10:49] samjewell opened #79 "Feature-request: Logs, including "Result URL""
Hello! In order to challenge my ISP and show them that they are outside the terms of my contract, I need to show that my speeds have been less than 50% the advertised speed, for 3 days running.

The easiest way to prove this is by sharing the Speedtest URL results, which are returned by the cli tool, such as:

[code]

(URL obscured).

I'd love if this python script could catch and then log these U

[2021-07-03 12:44] MiguelNdeCarvalho commented on #78
Hey,

Right now the docker image only supports `amd64`, `arm64` and `arm/v7` architectures. Should we add `arm/v6` for older architectures?

Thanks,
MiguelNdeCarvalho

[2021-07-03 12:45] MiguelNdeCarvalho opened #82 "[Docs] Specify architectures"
Specify currently supported architecures supported by the Docker Image

[2021-07-03 12:49] MiguelNdeCarvalho commented on #79
Hey,

I will try to check #81 ASAP and really thanks again for your contribuition. This really could be a good feauture to the exporter itself.

Thanks again,
MiguelNdeCarvalho

[2021-07-14 11:36] samjewell commented on #78
Yeah that sounds good to me 👍

[2021-07-15 19:03] samjewell commented on #78
![image](https://user-images.githubusercontent.com/2903904/125843054-09ccfde6-aeae-4d5a-a763-de320f7854d0.jpeg)

I just bought a new Raspberry Pi- version 4. But I still see the docker container crashing and restarting over and over again :-(

[2021-07-15 20:39] MiguelNdeCarvalho commented on #78
Hey,

Are you running the 32 bits? Can you give me the output of `uname -m` please?

Thanks,
MiguelNdeCarvalho

[2021-07-20 00:47] markafarrell opened #83 "Speedtest processes stall causing reporting to stop working"
Sometimes the speedtest binary stalls and eventually waitress refuses to create more threads.

This results in no more tests being run and no metrics being presented to prometheus

The logs include:
[code]

Container shows multiple speedtests running:

![image](https://user-images.githubusercontent.com/8586761/126245248-0c1342a6-aaa9-4d2d-b7cc-d7172f1c6a97.png)

When stalled speedtest processes ar

[2021-07-20 07:07] htd-tstepien commented on #78
Same issue here. But with a twist.

uname -m
[code]
docker compose (I try to run this [docker compose](https://github.com/dipan29/internet-monitoring.git) but the only container with exporter is crashing - due to `restart always` it's restarting over and over)
[code]

   And I get instant restarts too

[2021-07-21 19:45] MiguelNdeCarvalho commented on #78
Hey,

@htd-tstepien as I referenced here #71 the problem is related to using RaspberryOS 32 bits.

Thanks,
MiguelNdeCarvalho

[2021-07-21 19:47] MiguelNdeCarvalho commented on #83
Hey,

This is a good idea. I will take a look on the PR.

Really thanks,
MiguelNDeCarvalho

[2021-07-21 20:08] htd-tstepien commented on #78
Oh shut! Thanks, that's huge, so it's not connected to that, sorry then for misunderstanding my issue!

[2021-07-21 20:20] MiguelNdeCarvalho commented on #78
No problem, unfortunately they haven't pushed the fix yet

[2021-07-21 23:14] markafarrell commented on #83
@MiguelNdeCarvalho I have built an image based on my PR that I have been using for the past few days and it seems to be working fine https://hub.docker.com/layers/158995196/markfarrell/speedtest-exporter/3.3.0/images/sha256-8236e265f0bba1454da0c612c36ce6789ac9e984f0b4f7ca6e44405fc0140d5f?context=repo

[2021-07-21 23:30] MiguelNdeCarvalho commented on #83
Really thanks for your contribuition @markafarrell. I have made some comments from what we should change before merge it

[2021-07-22 05:01] markafarrell commented on #83
@MiguelNdeCarvalho I can't seen any comments anywhere? Did you need me to change something?

[2021-07-22 10:06] MiguelNdeCarvalho commented on #83
Hey,

I have just requested some changes on the PR, can you see them?

Thanks,
MiguelNdeCarvalho

[2021-07-22 11:04] markafarrell commented on #83
@MiguelNdeCarvalho Nope. I don't see anything in #84

[2021-07-22 11:06] MiguelNdeCarvalho commented on #83
Can you check now please? Thanks

[2021-07-22 11:27] markafarrell commented on #83
I see them now. Thanks

[2021-07-22 14:39] braucktoon opened #85 "Adding speediest-exporter to https://github.com/carlosedp/cluster-monitoring"
Has anyone integrated this speediest-exporter into a https://github.com/carlosedp/cluster-monitoring deployment.
I already have the cluster-monitoring running and working great but struggling to understand how to add the speediest exporter to it.  thanks for any help.

[2021-07-23 15:23] MiguelNdeCarvalho commented on #85
Hey,

The guys from @k8s-at-home have made a Helm Chart for it, it should help you. I ahould add this to the documentation. Feel free to ask whatever you need.

Chart: https://github.com/k8s-at-home/charts/tree/master/charts/stable/speedtest-exporter

Thanks,
MiguelNdeCarvalho

[2021-07-23 16:25] MiguelNdeCarvalho commented on #83
Fixed in #86, really thanks for the help. Feel free to reopen if needed

[2021-07-23 16:25] #83 closed

[2021-07-23 19:06] braucktoon commented on #85
Thank you. I did find that helm chart and installed it. But what else do I need to do?  How can I verify the data is being scraped. Sorry this might be my ignorance of how Prometheus works but I assumed you need to tell Prometheus about the speed test exporter somehow.

[2021-07-23 19:19] MiguelNdeCarvalho commented on #85
Hey,

You cam check the logs of the pod to see the logs of scrapes and etc. Yes you are totally write you need to tell Prometheus to scrape the exporter, otherwise it wont know eheh. I think it's better if you join the @k8s-at-home discord.

Thanks,
MiguelNdeCarvalho

[2021-07-23 19:33] braucktoon commented on #85
Thanks, I joined over there and asked the question of how to integrate them in the support channel.

[2021-07-24 00:04] MiguelNdeCarvalho commented on #85
Yap I saw right now. That's really good to see that you have fixed it with @onedr0p help. I will close the issue but fill free to reopen if needed.

[2021-07-24 00:04] #85 closed

[2021-07-26 03:43] hitokiri opened #87 "Container health problem"
I have the following problem when my raspberry pi works for some time in the container log, this message appears

![image](https://user-images.githubusercontent.com/247528/126930014-5b1e99a4-ba33-43b5-a936-706a37a53888.png)

[2021-07-27 02:06] hitokiri commented on #87
`docker ps`
![image](https://user-images.githubusercontent.com/247528/127083612-b435b272-6411-444b-8362-c159e8263433.png)

harware:
raspberry pi 4 8gb
OS: ubuntu 20.04
[code]

[2021-07-27 02:07] hitokiri commented on #87
`docker ps`
![image](https://user-images.githubusercontent.com/247528/127083612-b435b272-6411-444b-8362-c159e8263433.png)

harware:
raspberry pi 4 8gb
OS: ubuntu 20.04
[code]

[2021-07-27 02:07] #87 closed

[2021-07-27 15:00] MiguelNdeCarvalho commented on #87
Hey,

Can you do `docker image ls | grep speedtest-exporter` and give me the output please? Did you fix this problem, as you have closed the issue?

Thanks,
MiguelNdeCarvalho

[2021-07-28 12:52] Slonlo opened #88 "Unable to force speedtest server"
This is my first issue on GitHub, so if I'm missing anything context or formatting wise, please correct me. I'm trying to force a specific speedtest server because there is one near me (32032) that is always slow. I tried using the

[code]

in docker-compose.yml to force it to use the server I want.

[code]

It doesn't seem to be working because it's still using whatever server it wants according

[2021-07-28 13:41] MiguelNdeCarvalho commented on #88
Hey,

I have tested your own setup on my test environment and I saw that the `tty` and `stdin_open` are causing the problem, so you can remove them. Then you will have it working. Are you using the https://github.com/geerlingguy/internet-pi project?

Thanks,
MiguelNdeCarvalho

[2021-07-28 16:22] Slonlo commented on #88
I am using the internet pi project. I removed those 2 lines but it's still using servers other than what I'm requesting. I may try to just reinstall the whole thing to tonight.

[2021-07-29 14:01] MiguelNdeCarvalho commented on #88
Hey,

This is really a weird behaviour, I have confirmed that by using the flags: `tty: true` and `stdin_open: true` you can't get the server selected successfully, that's really weird. But after removing that you should be able to. I think you need to give me more information first

Thanks,
MiguelNdeCarvalho

[2021-07-29 14:35] Slonlo commented on #88
I figured it out. Somehow I had it two /internet-monitoring/ directories in different locations. When I edit the CORRECT one it worked as you said it should!! Thank you so much!!

[2021-07-29 14:35] #88 closed

[2021-07-29 14:36] MiguelNdeCarvalho commented on #88
Hey,

Just to make it clear by removing the 2 flags `tty` and `stdin_open` you fixed your problem right?

Thanks,
MiguelNdeCarvalho

[2021-07-31 04:40] Slonlo commented on #88
That's correct, Thank you very much!

[2021-08-02 14:16] u-boss opened #89 "Specify Speedtest specific server to be used"
Hello,
I've been using your speedtest-exporter in my personal first tests with Raspberry, it is even the first time for me in Python.
I want to specify a specific speed-test server to be used which I know is reliable.

In my `docker-compose.yml` I've this portion of code:

    tty: true
    stdin_open: true
    expose:
      - 9798
    ports:
      - 9798:9798
    image: miguelndecarvalho/speedtes

[2021-08-05 18:35] MiguelNdeCarvalho commented on #89
Hey,

Could you take a look on the #88?

Thanks,
MiguelNdeCarvalho

[2021-08-09 06:14] Marcel40625 opened #90 "[Docs] Typo in your docs"
Hey there, just an information that there is a typo :)

![21-08-09_08-13-09_423](https://user-images.githubusercontent.com/2056652/128666266-d4b1c914-b011-49c3-b08e-f84a9258a267.png)

[2021-08-10 14:07] MiguelNdeCarvalho commented on #90
Hey,

Really thanks for your help, I will fix it.

Thanks,
MiguelNdeCarvalho

[2021-08-10 14:17] #90 closed

[2021-08-19 16:59] rababb2 commented on #78
@MiguelNdeCarvalho Any update on getting support for 32-bit?

[2021-08-20 11:26] MiguelNdeCarvalho commented on #78
Hey,

@rababb2 I hope that I can do that still today. Can't you migrate to arm64?

Thanks,
MiguelNdeCarvalho

[2021-08-20 13:06] rababb2 commented on #78
@MiguelNdeCarvalho I don't think I have a 64-bit raspberry pi at this time.... It's a 3B+.

[2021-08-20 13:09] MiguelNdeCarvalho commented on #78
@rababb2 you can get the Ubuntu Server 20.04 LTS 64 bit from here https://ubuntu.com/download/raspberry-pi

[2021-09-01 13:09] madAndroid opened #92 "429 Too Many Requests - running in Kubernetes"
Hi,

I'm seeing rate limit errors when running this using the `k8s-at-home` chart (located here: https://github.com/k8s-at-home/charts/tree/master/charts/stable/speedtest-exporter) ... I was originally executing from Prometheus every 60 seconds (the default `scrape_interval`) - but even when changing this to be every 20 minutes, I still get the following in the logs:

[code]

Any suggestions on ho

[2021-09-02 08:06] madAndroid commented on #92
Probably just a transient issue or something along those lines - seems to be back to normal now - I've adjusted the interval of scraping in Prometheus to be every 60 seconds, and this seems to be okay

[2021-09-02 08:06] #92 closed

[2021-09-06 20:47] MiguelNdeCarvalho commented on #92
Hey,

That error is realy weird. I fully recommend you to run scrapes at least every 30 minutes. When running with a scrape interval less then that you can get some errors from Speedtest side. Feel free to open it again if you get those errors again.

Thanks,
MiguelNdeCarvalho

[2021-09-29 14:50] cvsickle opened #94 "Occassionally encountering a "Protocol error: Did not receive HELLO""
I have this Docker container running as part of the [geerlingguy/internet-pi](https://github.com/geerlingguy/internet-pi) project, which I'm using to help diagnose issues with my ISP. It's mostly working great, but sometimes it encounters the following error in the logs:

`Something went wrong

Protocol error: Did not receive HELLO

28/09/2021 20:15:14 - Server: 0 | Jitter: 0 ms | Ping: 0 ms | Dow

[2021-09-30 10:28] MiguelNdeCarvalho commented on #94
Hey,

First of all really thanks for using this project and finding it useful, that error that you are getting `Protocol error: Did not receive HELLO` is caused by the **Speedtest CLI** it self. I recommend you to install the [Speedtest CLI](https://www.speedtest.net/apps/cli) in your machine and trying to run some tests with `speedtest -vvv` and seeing if you find something interesting in the log

[2021-09-30 18:38] cvsickle commented on #94
Good to know where the error is coming from, thank you. I installed the Speedtest CLI, so the next time I experience the error, I will run the speedtest and see if anything shows up. Thanks for the advice.

[2021-10-02 20:38] MiguelNdeCarvalho commented on #94
Hey,

Nice, feel free to leave the PR open so you can give me any feedback whenever you have news about this.

Thanks,
MiguelNdeCarvalho

[2021-10-21 16:16] Madriax opened #98 "Docker speedtest results are not the same using the speedtest-cli locally"
Hello,

I deployed this application on my Home Server using Docker, and the results are slowers using this application rather than using the Speedtest-cli.

Here is a comparison:
![image](https://user-images.githubusercontent.com/23656170/138316039-04c5d1af-3ebc-4ce4-9031-c16fd7079543.png)

The first line is the output of this speedtest-exporter. I let it ran a few hours and the results are not ch

[2021-11-02 22:53] MiguelNdeCarvalho commented on #78
Hey,

This problem should have been fixed on the latest release v3.3.4 . I will close the issue, but feel free to reopen if you find this behavior again.

Thanks,
MiguelNdeCarvalho

[2021-11-02 22:53] #78 closed

[2021-11-02 22:54] MiguelNdeCarvalho commented on #98
Hey,

Sorry for the late response, are you running the docker image inside of the Windows machine?

Thanks,
MiguelNdeCarvalho

[2021-11-03 18:04] Madriax commented on #98
Hello @MiguelNdeCarvalho

Yes I am using Docker desktop for Windows

[2021-11-03 18:40] MiguelNdeCarvalho commented on #98
Hey,

I'm afraid that I can't help you any further because the docker on Windows should be throttling the testes, that's why you can't get the full speed.

Thanks,
MiguelNdeCarvalho

[2021-12-29 20:46] scothew opened #102 "Speedtest results are inaccurate - 2X what they should be"
Download speeds are being reported artificially high due to Ookla client 1.0.0.2 on Raspberry PI OS with Pi 4.

My internet circuit is 300Mbps download, yet the Speedtest-exporter using Ookla client 1.0.0.2 is consistently showing 600-700Mbps.
This is happening both inside the container, as well as when using Speedtest 1.0.0.2 directly from the main OS.
I discovered this after setting up https://g

[2021-12-30 02:38] scothew commented on #102
I've done some additional testing and find that even the latest version of the Ookla is giving me inaccurate results.
It seems that my earlier comment wasn't simply using a newer version of Ookla, but a completely different CLI tool.

Ookla version 1.1.1.28 is also giving me inaccurate results (indicating I have 2X the internet bandwidth I really do).
[code]

[2021-12-30 04:54] scothew commented on #102
I've done some additional testing with a different OS on my Raspberry Pi and also with a Mac running Catalina.
In every case, when using GigE, the Ookla CLI test is showing 600-700Mbps. I verified that the GigE is actually receiving 600-700Mbps.

When running speedtest-cli, which is available via brew and other package managers, as well as when using the speedtest.net HTML based testing tool, I co

[2021-12-30 05:17] scothew commented on #102
After doing additional testing and reading some information about Xfinity/Comcast, it seems they are allowing certain download (and speed tests) to burst to higher bandwidth. So, I think the Ookla app is more efficient and is able to run at a higher speed compared to the speedtest-cli which is written in Python and doesn't seem to be able to get higher than 300Mbps across multiple computers at my

[2021-12-30 05:17] #102 closed

[2022-01-08 11:44] #98 closed

[2022-01-08 11:48] Madriax commented on #98
Hello,

Sorry for the late reply! As you say this is due to Docker on Windows. There's no fix for this.

[2022-01-08 15:07] MiguelNdeCarvalho commented on #98
Hey,

@Madriax I am not sure though! Do you have a Linux machine where you can test it?

Thanks,
MiguelNdeCarvalho

[2022-01-08 15:41] Madriax commented on #98
I tested on both Linux and Windows again, here are the results:

- **Windows:** Ping=7.9ms Download=152.75Mbps Upload=303.4Mbps

- **Linux:** Ping=7.171ms Download=941.58Mbps Upload=605.66Mbps

[2022-01-08 15:52] MiguelNdeCarvalho commented on #98
So in Linux we have the real values, correct?

[2022-01-08 15:55] Madriax commented on #98
Yes exactly !

[2022-01-08 15:57] MiguelNdeCarvalho commented on #98
I think there is nothing we can do about it! That should be related to the Windows network used by docker containers

[2022-01-11 07:38] Sievers79 opened #109 "Speed Test Issues / Errors Running SpeedTest In Docker"
This is being ran as part of the Internet-Pi .. but definatly seems to be an issue with the SpeedTest... or possibly something else.  Here is what I've posted on that repo:
-------------------------------------------------------------------------

I've been troubleshooting why my speed test has been coming up so spotty and inaccurate.  I have been pulling 650 to 950 on the regular speedtest on my

[2022-01-11 07:50] Sievers79 commented on #109
Also to note.. off of a laptop (WIFI 6 not Ethernet like the Pi) I'm getting 931 / 61.... directly from the router I'm getting 917 / 62.

Any help is greatly appreciated.

[2022-01-12 00:31] MiguelNdeCarvalho commented on #109
Hey,

Is it possible for you to test with the latest version please? `3.4.0`

Thanks,
MiguelNdeCarvalho

[2022-01-23 20:20] Sievers79 commented on #109
Sorry for the late reply.   I have tried this with both:

docker run -d --network host --name speedtest-exporter miguelndecarvalho/speedtest-exporter:v3.4.0

And

docker run -d --network host --name speedtest-exporter miguelndecarvalho/speedtest-exporter:latest

Same results.

I'm going to try to set this up on a different switch and see if I get the same results.... Even possibly switch out PIs t

[2022-01-23 21:18] MiguelNdeCarvalho commented on #109
Hey,

No problem, why are you running the container with host network? Try with the a different switch if you can please.

Thanks,
MiguelNdeCarvalho

[2022-01-23 21:27] Sievers79 commented on #109
Tried it on another switch... same quick drop in speed and errors.   This is my first time using containers... I guess I found this to work..  I've tried with how the Internet Monitoring Pi Project runs it direct as well with the same results.   I also now have tried it without the host network switch... and still results in the same quick drop and errors.

I've been testing using this:  sudo dock

[2022-01-23 21:38] Sievers79 commented on #109
Cleared the static IP of the PI and ran it direct from my Cable Modem... works just fine.   Any known issues with Asus routers that you know of?

[2022-01-23 21:50] Sievers79 commented on #109
So testing with different static IPs I get the error.. using dynamic... it works fine.

[2022-01-23 21:59] Sievers79 commented on #109
I ended up leaving the pi to pull DHCP from the router... and set the router to assign the IP.  Its working now.   Seems like a bug when the PI has a static IP set in the GUI.

[2022-02-08 16:54] EmilianoMaina opened #117 "Unrecognised argument(s): %s' % keys) ValueError: Unrecognised argument(s): encoding"
Hello,

I installed manually on Raspberry Pi the exporter following instructions [here](https://docs.miguelndecarvalho.pt/projects/speedtest-exporter/).

At first launch of the explorer with Python 3 I have the following error:
`pi@raspberrypi:~/speedtest-exporter $ python3 src/exporter.py
Traceback (most recent call last):
  File "src/exporter.py", line 15, in <module>
    format=format_string)

[2022-02-08 16:58] EmilianoMaina opened #118 "Typo in documentation for manual install"
Hello,

in the documentation for manual installation ([here](https://docs.miguelndecarvalho.pt/projects/speedtest-exporter/)) there is a minor typo:

It is written:

`Install python modules - pip install -r requirements.tx`

While it should be this to work properly:

`Install python modules - pip install -r src/requirements.tx`

[2022-02-10 19:54] MiguelNdeCarvalho commented on #109
Hey,

Sorry for late response but that's good to know that it is working fine now! I will close the issue, but feel free to reopen if needed!

Thanks,
MiguelNdeCarvalho

[2022-02-10 19:54] #109 closed

[2022-02-24 01:54] cliff-wakefield opened #121 "Runtime error to do with logging?"
# docker run -p 9798:9798 miguelndecarvalho/speedtest-exporter
Traceback (most recent call last):
  File "/app/exporter.py", line 4, in <module>
    import logging
  File "/usr/local/lib/python3.10/logging/__init__.py", line 57, in <module>
    _startTime = time.time()
PermissionError: [Errno 1] Operation not permitted

[2022-02-24 01:59] cliff-wakefield commented on #121
This seems to happen when the image is running on a raspberry pi 3b.

Works fine on an Intel Mac.

[2022-02-24 02:06] cliff-wakefield commented on #121
Maybe related to https://github.com/docker-library/python/issues/674

[2022-02-24 10:55] cliff-wakefield commented on #121
Seems it may have been related to the version of Raspbian I was running I was on buster and I am now on bullseye and things seem to be healthier.

[2022-02-24 21:38] MiguelNdeCarvalho commented on #121
Hey,

Thanks for you kind of a contribution, in which architecture where you running it?

Thanks,
MiguelNdeCarvalho

[2022-02-24 21:40] MiguelNdeCarvalho commented on #117
Hey,

@EmilianoMaina can you give me some more context please? Which version are you using of Python and have you installed everything from requirements.txt? There is no need to try it with Python2 as it won't work!

Thanks,
MiguelNdeCarvalho

[2022-02-24 21:42] MiguelNdeCarvalho commented on #118
Hey,

Really thanks for pointing me out!

Thanks,
MiguelNdeCarvalho

[2022-02-24 21:44] #118 closed

[2022-02-24 21:46] EmilianoMaina commented on #117
At the very end I was able to make it work but I had to change the code as below:

[code]

Now the coe above is running smoothly with Python 3.10

[2022-02-24 23:17] cliff-wakefield commented on #121
I was trying to run the container as part of https://github.com/geerlingguy/internet-pi.

I was running this originally on a Raspberry Pi 3b running Raspbian (Buster), now running Raspbian (Bullseye).

[2022-02-24 23:24] MiguelNdeCarvalho commented on #121
Can you give me the output of `uname -m` please? Thanks

[2022-02-24 23:32] cliff-wakefield commented on #121
[code]

[2022-02-24 23:34] MiguelNdeCarvalho commented on #121
I have tried the image in my Pi running Ubuntu 22.04 64Bit and I haven't had that problem, it should be related to Raspbian and 32 bit ARM. Thanks!

[2022-02-24 23:43] cliff-wakefield commented on #121
Yeah seems pretty niche and not related to your code ;)

[2022-02-24 23:43] #121 closed

[2022-02-24 23:46] MiguelNdeCarvalho commented on #121
Yap, feel free to open if needed again!

[2022-02-26 12:31] MiguelNdeCarvalho opened #122 "Create check for Speedtest binary in the beginning"
- Check in the begin of the exporter if the `Speedtest` exists in PATH and if it is the official one!

[2022-02-26 12:35] MiguelNdeCarvalho opened #123 "Add Packet Loss metric"
Thanks to @jansouza for the ideia

[2022-03-28 22:11] MiguelNdeCarvalho commented on #123
This metrics isn't exposed anymore by the **Speedtest CLI**

[2022-03-28 22:11] #123 closed

[2022-04-01 21:51] adyanth opened #132 "Add ISP label"
I have multiple ISPs serving different nodes, which are load balanced across ISPs. The deployment has podAntiAffinity to schedule the speedtest-exporter on nodes with different ISPs. Without the ISP information, it is not easy to aggregate and display the data. The ISP information is actually provided in the json by the speedtest-cli.

[2022-04-01 22:33] adyanth commented on #132
<img width="1376" alt="Screenshot 2022-04-02 at 3 54 56 AM" src="https://user-images.githubusercontent.com/33192449/161349924-baea9ff3-13fa-46f1-bac8-99d439b4ceb0.png">

With the PR in place, we can do stuff like this :)

Dashboard: https://gist.github.com/adyanth/a5b6752f67c221134fe2aa661164d18f

[2022-04-02 13:10] adyanth opened #134 "Filter dummy values"
How can I get a bar graph out of this without the duplicate cached values? Is this possible?

[2022-04-02 14:03] adyanth commented on #134
Can we set the value to something like -1 when serving within the cache time, so that while querying, we can do something like `speedtest_download_bits_per_second > -1` ?

[2022-04-09 14:40] MiguelNdeCarvalho commented on #132
Hey,
This looks dope and will be added in the next release!
Thanks,
MiguelNdeCarvalho

[2022-04-09 14:41] MiguelNdeCarvalho opened #137 "Add ISP label to metrics"

[2022-04-09 15:11] #132 closed

[2022-04-09 15:30] #137 closed

[2022-04-09 15:52] #122 closed

[2022-04-15 09:29] adyanth opened #144 "Use custom collector to correctly track metrics"
When caching metrics, all the labels from all the previous runs get cached which should not be the case. When a new run happens, the labels should be cleaned up and refreshed.

https://github.com/prometheus/client_python#custom-collectors

[2022-06-04 09:56] Bigouden opened #152 "Possibility to add public ip address in metrics label ?"
Hi,

Is it possible to add public ip address in metrics label ?

Cordially.

[2022-07-02 17:07] stavros-k opened #155 "Make script installable as a Windows Service"
It would nice to make this script running as windows service.

I don't know if this is still applicable nowdays, as this blog post is quite old.
https://thepythoncorner.com/posts/2018-08-01-how-to-create-a-windows-service-in-python/

Seems that does not need much to be added. But I might be wrong also.

Thanks

[2022-07-24 01:48] StinkyTACO opened #157 "io timeout"
when i try to add a data source I keep getting this same error any pointers?
<img width="893" alt="image" src="https://user-images.githubusercontent.com/35038928/180628769-a2c30c74-6773-436e-957d-339c479a14b1.png">

[2022-07-26 21:27] StinkyTACO commented on #157
bump

[2022-08-31 00:03] Tokariew opened #166 "Rootless podman container health problem"
Hi, I running rootless podman with your container. Podman report me that the status is unhealthy.
[code]
After some investigating it seems that when i don't publish port to my "host" network it fail connecting to localhost

[code]
So maybe healthcheck should check 127.0.0.1 instead of localhost?
Publishing port is not necessary, to access speedtest-exporter on the same container network

[2022-09-01 14:45] sgmoore opened #167 "operation not permitted running in docker on raspberry pi."
I'm posting this just in case anyone else has a similar issue.

I have been running this for a while, but after doing a docker-compose pull, the container was not starting and the logs had the **operation not permitted**  message coming from logging __init__

I was able to get around this by adding ` privileged : true` to the speedtest service section of the docker-compose.yml

Not sure what the e

[2022-09-07 21:50] bergpb commented on #166
I have a similar problem, first example running the container inside a swarm cluster running in a Raspberry Pi, the second one in my local machine:
![image](https://user-images.githubusercontent.com/11005963/188989444-13d40cb8-8067-433a-9f63-84e2dd1f90fe.png)
Healthcheck fails in Raspberry Pi, but works fine running outside them.

[2022-09-11 21:31] MiguelNdeCarvalho commented on #117
Sorry for only answering right now, but is this still occurring in the latest version?

[2022-09-11 21:32] MiguelNdeCarvalho commented on #134
Hey,

@adyanth sorry for the late response, that improve should be a good idea, feel free to do a PR with it and I will take a look on that.

Thanks,
MiguelNdeCarvalho

[2022-09-11 21:34] MiguelNdeCarvalho commented on #144
I will take a look on this, that was definitely a big problem when I added the labels that's why I removed them!

[2022-09-11 21:35] MiguelNdeCarvalho commented on #152
Hey,

Sorry for late response @Bigouden, it was one of the ideas, but till we have https://github.com/MiguelNdeCarvalho/speedtest-exporter/issues/144 implemented it won't be possible.

Thanks,
MiguelNdeCarvalho

[2022-09-11 21:37] MiguelNdeCarvalho commented on #155
Hey,

@stavros-k sorry for the late response, I don't understand anything about Windows, isn't it possible for you to use the Docker image? It should work out of the box.

Thanks,
MiguelNdeCarvalho

[2022-09-11 21:38] MiguelNdeCarvalho commented on #157
Hey,

@StinkyTACO sorry for the late response, it is giving you a timeout, because you need a Prometheus instance to scrape the metrics from Speedtest-Exporter and then Grafana gets the information from Prometheus not from the Exporter.

Thanks,
MiguelNdeCarvalho

[2022-09-11 21:40] MiguelNdeCarvalho commented on #166
Hey,

@Tokariew @bergpb sorry for the late response but as far as I can see, the problem is related to localhost not being resolved to 127.0.0.1? If not I can change this.

Thanks,
MiguelNdeCarvalho

[2022-09-11 21:41] MiguelNdeCarvalho commented on #167
Hey,

@sgmoore sorry for the late response, can you give me your `docker-compose.yml` content please? It should work without the privileged option enabled.

Thanks,
MiguelNdeCarvalho

[2022-09-11 22:47] Tokariew commented on #166
Yes… I not sure what podman is doing…
I know that running with following command containers stay healthy.
[code]

After installing `apk add bind-tools` and checking with dig/nslookup the localhost is resolved correctly to 127.0.0.1 on the container, but still i can't download with wget. ping localhost from container works fine too.

[2022-09-12 05:34] stavros-k commented on #155
It's possible to run docker on windows yes.
But that means it will create a virtualization layer with Windows Subsystem for Linux (WSL) which will consume at least 2gb ram.

Resources being one of the problems, and the second is that it becomes even harder to mass deploy it to multiple computers (~500, which is my intention).

Even releasing an executable, would be nice. (Which might be far easier

[2022-09-12 08:15] StinkyTACO commented on #157
Where can i do that through the UI?

[2022-09-12 08:16] sgmoore commented on #167
[docker-compose.zip](https://github.com/MiguelNdeCarvalho/speedtest-exporter/files/9546058/docker-compose.zip)

Attached is my current docker-compose.yml file

The speedtest service block is

[code]

The `cap_add` section was added to try to fix the problem (but didn't), and then `privileged : true` was added and did fix the problem. The dns entries were added later.

[2022-09-12 08:16] StinkyTACO commented on #157
I believe i dont have access to the files in the container or atleast they arent in a directory

[2022-09-12 14:44] bergpb commented on #166
I saw a similar problem in another project related to alpine images too: https://github.com/louislam/uptime-kuma/issues/295
Since this, the alpine docker images for uptimekuma project were checked as deprecated: https://hub.docker.com/r/louislam/uptime-kuma

[2022-09-14 20:08] utdrmac opened #170 "Over 11,000 data points collected; Too many for Grafana"
prometheus.yml:
[code]

When trying to add metric to grafana:

<img width="975" alt="Screen Shot 2022-09-14 at 3 07 11 PM" src="https://user-images.githubusercontent.com/4413670/190252000-a9087a07-8e82-4187-90d8-5c23902a0052.png">

How is this creating 11,000 data points in 48hrs if I'm only grabbing the data every 10m?

[2022-09-16 13:14] Punkado commented on #167
Hello,

I can confirm the same problem happening here, only a privileged container works, the full error message:

`Traceback (most recent call last):
  File "/app/exporter.py", line 4, in <module>
    import logging
  File "/usr/local/lib/python3.10/logging/__init__.py", line 57, in <module>
    _startTime = time.time()
PermissionError: [Errno 1] Operation not permitted
`

Using the older version

[2022-10-21 18:45] git-avilabs opened #173 "Configuration Error"
[code]

I keep getting this

[2022-10-27 11:38] #173 closed

[2022-11-09 00:27] jkoelker commented on #144
I have a POC branch at https://github.com/jkoelker/speedtest-exporter/tree/custom_collector. I'm currently running this caching for `900s` and scraping every `1m`. [Here](https://github.com/MiguelNdeCarvalho/speedtest-exporter/files/9966227/Speedtest-1667953503787.txt) is the dashboard I'm using with it if anyone wants to try it if its working as they expect.

![image](https://user-images.githubus